@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

.swal-button-confirm {
    background-color: #3498db !important; /* Cambiar el color aquí */
    color: white !important;
    border-radius: 8px !important;
}

.swal-button-cancel {
    background-color: #e74c3c !important; /* Cambiar el color aquí */
    color: white !important;
    border-radius: 8px !important;
}

.dt-input{
    width: 65px;
}
